/* 
 * @authors wgqth (wgqth@qq.com)
 * @date    2015-05-28 14:27:58
  */
a:link,a:visited,a:active{color:#333; text-decoration:none;}
a:hover{ text-decoration:underline;color:#9D2958;}
a,area{blr:expression(this.onFocus=this.blur())};
input,button,select,textarea{ outline:none;}
textarea{resize:none;}
/*文字排版*/
.f12{font-size:12px;}.f13{font-size:13px;}.f14{font-size:14px;}.f16{font-size:16px;}.f18{font-size:18px;}.f22{font-size:22px;}.f20{font-size:20px;}.f24{font-size:24px;}.f28{font-size:28px;}.f30{font-size:30px;}.f36{font-size:36px;}.f46{font-size:46px;}.f48{font-size:48px;}
.fb{font-weight:bold;}.fn{font-weight:normal;}
.t2{text-indent:2em;}
.tc{ text-align:center;}
.unl,a.unl,body a.unl,body *.unl,body a.unl:link,body a.unl:visited{text-decoration:underline;}
.no_unl{text-decoration:none;}
.vm{vertical-align:middle;}
.yahei{font-family:Microsoft YaHei;}
.Arial{font-family:Arial}
.italic{ font-style:italic;}
.mr10{ margin-right:10px;}.mb5{ margin-bottom:5px;}.mb10{ margin-bottom:10px;}.mb14{ margin-bottom:14px;}.mb15{ margin-bottom:15px;}.mb20{ margin-bottom:20px;}.ml5{ margin-left:5px;}.ml10{ margin-left:10px;}.ml14{ margin-left:14px;}.ml15{ margin-left:15px;}.mr15{ margin-right:15px;}.mt5{ margin-top:5px;}.mr5{ margin-right:5px;}.mt10{ margin-top:10px;}.mt14{ margin-top:14px;}.mt30{ margin-top:30px;}.mt60{ margin-top:60px;}.mt20{ margin-top:20px;}
.p5{ padding:5px;}.pt20{padding-top:20px;}.p12{ padding:12px;}.p15{ padding:15px;}.p10{ padding:10px;}.p20{ padding:20px;}.p30{ padding:30px;}.pl5{ padding-left:5px;}.pl10{ padding-left:10px;}.pl30{ padding-left:30px;}.pr10{ padding-right:10px;}.pr30{ padding-right:30px;}.pl20{ padding-left:20px;}.pl70{ padding-left:70px;}.pb15{ padding-bottom:15px;}.pt15{ padding-top:15px;}.pt5{ padding-top:5px;}.pt10{ padding-top:10px;}.pt50{padding-top:50px;}.pt60{ padding-top:60px;}.pt80{ padding-top:80px;}.pb5{ padding-bottom:5px;}.pb10{ padding-bottom:10px;}.pb20{ padding-bottom:20px;}.ptb5{ padding:5px 0px;}
.mt6{margin-top:6px;}.mb10{margin-bottom:10px;}
.vm{vertical-align:middle;}
/*解决图片 文字标签 表单 垂直对齐问题*/
.vms{vertical-align:middle;display:inline-block;}
.ovh{overflow:hidden;}
.pa{position:absolute;}
.pr{position:relative;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.lh20{line-height:20px;}.lh25{line-height:25px;}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}
.clearfix .clear{_height:0px;}
.block{display:block;}
.white,.white a,.white a:link,.white a:visited{color:#fff; text-decoration:none;}
.white a:hover{color:#9D2958; text-decoration:underline;}
.fGary{ color:#CCCCCC;}
.ImgStyle{overflow:hidden; line-height:0px; font-size:0px; display:block;}

input{border:1px solid #CCCCCC; font-size:12px;}
div,img,ul,li,dl,dd,form,p,h1,h2,h3,h4,h5,h6,h7,hr,span{margin:0;padding:0;border:0;}
ul,li,dl,dd{list-style-type:none;list-style-image:none;}
ol{}
ol li{list-style-type:decimal;}
ul,li{list-style-type:none;list-style-image:none;}
html{ overflow-x:hidden;}
body{margin:0px; padding:0px; background:#ffffff;}

.w1030{width:1030px; margin-left:auto; margin-right:auto;}
.w1000{width:1000px; margin-left:auto; margin-right:auto;}
.w980{width:980px; margin-left:auto; margin-right:auto;}
.w960{width:960px; margin-left:auto; margin-right:auto;}
.w200{width:200px;}
.w245{width:245px;}

.w650{width:650px;}

.w325{width:325px;}
.blue{color:#00a6f5;}
.none{display:none;}
.pb30{padding-bottom:30px;}

.bg_black{ background:#000000;}
.bg_white{ background:#ffffff;}
.bg_eefcf2{background:#eefcf2;}
.bg_d0d0d0{background:#d0d0d0;}
.tr{text-align:right;}






.V{position:fixed;width:100%;height:100%;background:rgba(0,0,0,0.6);z-index:120;}
.mainvideo{width:960px; height:600px;position:fixed;left:50%;top:50%;margin:-300px 0px 0px -480px;}
.bg video,.bg img{width:100%;position:absolute; }
.bg{ z-index:1; }
.mainvideo{z-index:200; background:#000;}
/* tplayer */
.mainvideo .close{ width:62px; height:69px; position:absolute; top:0px; right:-100px; background:url(http://mat1.gtimg.com/fashion/jellyzheng/kiehls/cc.png) no-repeat 0px 0px;cursor:pointer; z-index:2;}
.mainvideo .tplayer{overflow:hidden; position:absolute;z-index:1;}
.mainvideo .tplayer div{ width:100%; height:100%;}











.bodyWrap{color:#5e5e5e;background:url(http://mat1.gtimg.com/fashion/TycheHu/4.29/tongyaopc/c_header.png) no-repeat center 0px; }


.c_header{height:796px;}
.c_top span{display:inline-block;float:right; color:#FFFFFF;font-size: 12px;padding: 28px 15px 0px 0px;}


.c_title{position:absolute; left:-610px; top:-70px; z-index:100;}
.c_title1{position:absolute; left:-610px; top:-70px; z-index:100;}
.c_title2{position:absolute; left:-610px; top:-70px; z-index:100;}


.h3title{border-bottom:2px solid #3d3d3d; padding:0px 10px; font-weight:lighter; line-height:43px; font-size:22px; color:#3d3d3d; margin-bottom:10px;}
.share{position:absolute;left:694px;top:550px;line-height:25px;width:200px;}
.selectDiv{position:absolute;left:900px;top:550px;}

.weibo{}
.weibo dl{ padding:10px 0px; width:245px;}
.weibo dl dt{width:86px; height:86px; float:left; margin-right:10px; border:1px solid #ececec;}
.weibo dl dd{width:135px; float:left; line-height:22px; padding-top:5px; font-size:14px;}
.weibo dl dd a,.weibo dl dd a:link{ background:#449598; width:48px; height:20px; display:inline-block; text-align:center; line-height:20px; text-decoration:none; color:#FFFFFF; margin-top:5px;}


.c_warp{height:4190px;}

.c_A{position:absolute;left:0px;top:0px;}
.c_B{position:absolute;left:0px;top:799px;}
.c_C{position:absolute;left:0px;top:1593px;}
.c_D{position:absolute;left:-60px;top:2391px;}
.c_E{position:absolute;left:0px;top:3188px;}


.c_A_bj{position:absolute;left:-610px;top:0px;opacity:1;}
.c_A_p01{position:absolute;left:-610px;top:0px;opacity:0;}
.c_A_p02{position:absolute;left:-610px;top:0px; opacity:0;}
.c_A_p03{position:absolute;left:-610px;top:0px;opacity:0;}
.c_A_p04{position:absolute;left:-610px;top:0px;opacity:0;}
.c_A_p05{position:absolute;left:-610px;top:0px;opacity:0;}
.current .c_A_p01{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 0s;animation:fadeIn 3.2s ease-in-out both 0s;-moz-animation:fadeIn 3.2s ease-in-out both 0s;-o-animation:fadeIn 3.2s ease-in-out both 0s;}
.current .c_A_p02{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 0.4s;animation:fadeIn 3.2s ease-in-out both 0.4s;-moz-animation:fadeIn 3.2s ease-in-out both 0.4s;-o-animation:fadeIn 3.2s ease-in-out both 0.4s;}
.current .c_A_p03{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 0.6s;animation:fadeIn 3.2s ease-in-out both 0.6s;-moz-animation:fadeIn 3.2s ease-in-out both 0.6s;-o-animation:fadeIn 3.2s ease-in-out both 0.6s;}
.current .c_A_p04{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 0.8s;animation:fadeIn 3.2s ease-in-out both 0.8s;-moz-animation:fadeIn 3.2s ease-in-out both 0.8s;-o-animation:fadeIn 3.2s ease-in-out both 0.8s;}
.current .c_A_p05{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 1.0s;animation:fadeIn 3.2s ease-in-out both 1.0s;-moz-animation:fadeIn 3.2s ease-in-out both 1.0s;-o-animation:fadeIn 3.2s ease-in-out both 1.0s;}


.c_A_p02_t{position:absolute;left:-10px;top:78px; opacity:1;}
.c_A_p03_t{position:absolute;left:405px;top:78px;opacity:1;}
.c_A_p04_t{position:absolute;left:209px;top:408px;opacity:1;}
.c_A_p05_t{position:absolute;left:580px;top:408px;opacity:1;}

.c_A_p02_f{position:absolute;left:-210px;top:0px; opacity:1;display:none;}
.c_A_p03_f{position:absolute;left:230px;top:0px;opacity:1;display:none;}
.c_A_p04_f{position:absolute;left:34px;top:264px;opacity:1;display:none;}
.c_A_p05_f{position:absolute;left:480px;top:264px;opacity:1;display:none;}








.c_B_bj{position:absolute;left:-114px;top:0px;opacity:1;}
.c_B_p01{position:absolute;left:-114px;top:0px;opacity:0;}

.current .c_B_p01{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 0s;animation:fadeIn 3.2s ease-in-out both 0s;-moz-animation:fadeIn 3.2s ease-in-out both 0s;-o-animation:fadeIn 3.2s ease-in-out both 0s;}



.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#fbeee5!important;border:0px!important;-webkit-border-radius:2px;}
.mCSB_scrollTools a+.mCSB_draggerContainer{margin:0px!important;}
.mCSB_scrollTools .mCSB_draggerRail{background:#fbeee5!important;}
.mCSB_container{margin-right:20px!important;}
.mCustomScrollBox{z-index:111;}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{background-image:none!important;}



.c_B .tittle_div{opacity:0;position:absolute;width:530px;height:467px;left:508px;top:203px;margin-top: 20px;color:#000; font-size:20px; line-height:30px; text-align:left; overflow:auto;z-index:50}
.c_B .tittle_div p{ font-family:"Microsoft YaHei"!important;padding-right:0px;color:#ac8e92;background:none}
.c_B .tittle_div b{font-weight:bold; display:inline-block;margin:1px 0;color:#be0836;}
.c_B .tittle_div span{font-weight:bold; display:inline-block;margin:1px 0;color:#000;font-size:24px;}
.current .tittle_div{opacity:1;-webkit-animation:fadeIn 1.2s ease-in-out both 1.0s;animation:fadeIn 1.2s ease-in-out both 1.0s;-moz-animation:fadeIn 1.2s ease-in-out both 1.0s;-o-animation:fadeIn 1.2s ease-in-out both 1.0s;}






.c_C_bj{position:absolute;left:-114px;top:0px;opacity:1;}
.c_C_p01{position:absolute;left:-114px;top:0px;opacity:0;}
.c_C_p02{position:absolute;left:-114px;top:0px;opacity:0;}
.c_C_p03{position:absolute;left:-114px;top:0px;opacity:0;}
.c_C_p04{position:absolute;left:-114px;top:0px;opacity:0;}
.c_C_p05{position:absolute;left:-114px;top:0px;opacity:0;}
.c_C_p06{position:absolute;left:-114px;top:0px;opacity:0;}
.c_C_p07{position:absolute;left:-114px;top:0px;opacity:0;}

.current .c_C_p01{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 0s;animation:fadeIn 3.2s ease-in-out both 0s;-moz-animation:fadeIn 3.2s ease-in-out both 0s;-o-animation:fadeIn 3.2s ease-in-out both 0s;}
.current .c_C_p02{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 0.4s;animation:fadeIn 3.2s ease-in-out both 0.4s;-moz-animation:fadeIn 3.2s ease-in-out both 0.4s;-o-animation:fadeIn 3.2s ease-in-out both 0.4s;}
.current .c_C_p03{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 0.6s;animation:fadeIn 3.2s ease-in-out both 0.6s;-moz-animation:fadeIn 3.2s ease-in-out both 0.6s;-o-animation:fadeIn 3.2s ease-in-out both 0.6s;}
.current .c_C_p04{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 0.8s;animation:fadeIn 3.2s ease-in-out both 0.8s;-moz-animation:fadeIn 3.2s ease-in-out both 0.8s;-o-animation:fadeIn 3.2s ease-in-out both 0.8s;}
.current .c_C_p05{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 1.0s;animation:fadeIn 3.2s ease-in-out both 1.0s;-moz-animation:fadeIn 3.2s ease-in-out both 1.0s;-o-animation:fadeIn 3.2s ease-in-out both 1.0s;}
.current .c_C_p06{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 1.2s;animation:fadeIn 3.2s ease-in-out both 1.2s;-moz-animation:fadeIn 3.2s ease-in-out both 1.2s;-o-animation:fadeIn 3.2s ease-in-out both 1.2s;}
.current .c_C_p07{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 1.4s;animation:fadeIn 3.2s ease-in-out both 1.4s;-moz-animation:fadeIn 3.2s ease-in-out both 1.4s;-o-animation:fadeIn 3.2s ease-in-out both 1.4s;}



.c_C_p03_t{position:absolute;left:500px;top:78px; opacity:1;}
.c_C_p04_t{position:absolute;left:360px;top:360px; opacity:1;}
.c_C_p05_t{position:absolute;left:650px;top:300px; opacity:1;}
.c_C_p06_t{position:absolute;left:460px;top:570px; opacity:1;}
.c_C_p07_t{position:absolute;left:800px;top:520px; opacity:1;}

.c_C_p03_f{position:absolute;left:-114px;top:0px;opacity:1;display:none;}
.c_C_p04_f{position:absolute;left:-114px;top:0px;opacity:1;display:none;}
.c_C_p05_f{position:absolute;left:-114px;top:0px;opacity:1;display:none;}
.c_C_p06_f{position:absolute;left:-114px;top:0px;opacity:1;display:none;}
.c_C_p07_f{position:absolute;left:-114px;top:0px;opacity:1;display:none;}






.c_D_bj{position:absolute;left:-114px;top:0px;opacity:1;}
.c_D_p01{position:absolute;left:-114px;top:0px;opacity:0;}
.c_D_p02{position:absolute;left:-114px;top:0px;opacity:0;}
.c_D_p03{position:absolute;left:-114px;top:0px;opacity:0;}
.c_D_p04{position:absolute;left:-114px;top:0px;opacity:0;}
.c_D_p05{position:absolute;left:-114px;top:0px;opacity:0;}
.c_D_p06{position:absolute;left:-114px;top:0px;opacity:0;}
.c_D_p07{position:absolute;left:-114px;top:0px;opacity:0;}
.c_D_p08{position:absolute;left:-114px;top:0px;opacity:0;}
.c_D_p09{position:absolute;left:-114px;top:0px;opacity:0;}

.current .c_D_p01{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 0s;animation:fadeIn 3.2s ease-in-out both 0s;-moz-animation:fadeIn 3.2s ease-in-out both 0s;-o-animation:fadeIn 3.2s ease-in-out both 0s;}
.current .c_D_p02{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 0.4s;animation:fadeIn 3.2s ease-in-out both 0.4s;-moz-animation:fadeIn 3.2s ease-in-out both 0.4s;-o-animation:fadeIn 3.2s ease-in-out both 0.4s;}
.current .c_D_p03{opacity:1;-webkit-animation:fadeIn 1.2s ease-in-out both 0.6s;animation:fadeIn 1.2s ease-in-out both 0.6s;-moz-animation:fadeIn 1.2s ease-in-out both 0.6s;-o-animation:fadeIn 1.2s ease-in-out both 0.6s;}
.current .c_D_p04{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 0.8s;animation:fadeIn 3.2s ease-in-out both 0.8s;-moz-animation:fadeIn 3.2s ease-in-out both 0.8s;-o-animation:fadeIn 3.2s ease-in-out both 0.8s;}
.current .c_D_p05{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 1.0s;animation:fadeIn 3.2s ease-in-out both 1.0s;-moz-animation:fadeIn 3.2s ease-in-out both 1.0s;-o-animation:fadeIn 3.2s ease-in-out both 1.0s;}
.current .c_D_p06{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 1.2s;animation:fadeIn 3.2s ease-in-out both 1.2s;-moz-animation:fadeIn 3.2s ease-in-out both 1.2s;-o-animation:fadeIn 3.2s ease-in-out both 1.2s;}
.current .c_D_p07{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 1.4s;animation:fadeIn 3.2s ease-in-out both 1.4s;-moz-animation:fadeIn 3.2s ease-in-out both 1.4s;-o-animation:fadeIn 3.2s ease-in-out both 1.4s;}
.current .c_D_p08{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 1.6s;animation:fadeIn 3.2s ease-in-out both 1.6s;-moz-animation:fadeIn 3.2s ease-in-out both 1.6s;-o-animation:fadeIn 3.2s ease-in-out both 1.6s;}
.current .c_D_p09{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 1.8s;animation:fadeIn 3.2s ease-in-out both 1.8s;-moz-animation:fadeIn 3.2s ease-in-out both 1.8s;-o-animation:fadeIn 3.2s ease-in-out both 1.8s;}



.c_D_p04_t{position:absolute;left:-156px;top:393px;opacity:1;}
.c_D_p05_t{position:absolute;left:49px;top:223px;opacity:1;}
.c_D_p06_t{position:absolute;left:178px;top:206px;opacity:1;}
.c_D_p07_t{position:absolute;left:351px;top:169px;opacity:1;}
.c_D_p08_t{position:absolute;left:397px;top:354px;opacity:1;}
.c_D_p09_t{position:absolute;left:567px;top:356px;opacity:1;}


.c_D_p04_f{position:absolute;left:-114px;top:323px;opacity:1;display:none;}
.c_D_p05_f{position:absolute;left:-32px;top:223px;opacity:1;display:none;}
.c_D_p06_f{position:absolute;left:128px;top:206px;opacity:1;display:none;}
.c_D_p07_f{position:absolute;left:251px;top:169px;opacity:1;display:none;}
.c_D_p08_f{position:absolute;left:348px;top:308px;opacity:1;display:none;}
.c_D_p09_f{position:absolute;left:427px;top:336px;opacity:1;display:none;}





.c_E_bj{position:absolute;left:-114px;top:0px;opacity:1;}
.c_E_p01{position:absolute;left:-114px;top:0px;opacity:0;}
.c_E_p02{position:absolute;left:-114px;top:0px;opacity:0;}
.c_E_p03{position:absolute;left:-114px;top:0px;opacity:0;}
.c_E_p04{position:absolute;left:-114px;top:0px;opacity:0;}
.c_E_p05{position:absolute;left:-114px;top:0px;opacity:0;}
.c_E_p06{position:absolute;left:-114px;top:0px;opacity:0;}
.c_E_p07{position:absolute;left:-114px;top:0px;opacity:0;}
.c_E_p08{position:absolute;left:-114px;top:0px;opacity:0;}
.c_E_p09{position:absolute;left:-114px;top:0px;opacity:0;}

.current .c_E_p01{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 0s;animation:fadeIn 3.2s ease-in-out both 0s;-moz-animation:fadeIn 3.2s ease-in-out both 0s;-o-animation:fadeIn 3.2s ease-in-out both 0s;}
.current .c_E_p02{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 0.4s;animation:fadeIn 3.2s ease-in-out both 0.4s;-moz-animation:fadeIn 3.2s ease-in-out both 0.4s;-o-animation:fadeIn 3.2s ease-in-out both 0.4s;}
.current .c_E_p03{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 0.6s;animation:fadeIn 3.2s ease-in-out both 0.6s;-moz-animation:fadeIn 3.2s ease-in-out both 0.6s;-o-animation:fadeIn 3.2s ease-in-out both 0.6s;}
.current .c_E_p04{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 0.8s;animation:fadeIn 3.2s ease-in-out both 0.8s;-moz-animation:fadeIn 3.2s ease-in-out both 0.8s;-o-animation:fadeIn 3.2s ease-in-out both 0.8s;}
.current .c_E_p05{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 1.0s;animation:fadeIn 3.2s ease-in-out both 1.0s;-moz-animation:fadeIn 3.2s ease-in-out both 1.0s;-o-animation:fadeIn 3.2s ease-in-out both 1.0s;}
.current .c_E_p06{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 1.2s;animation:fadeIn 3.2s ease-in-out both 1.2s;-moz-animation:fadeIn 3.2s ease-in-out both 1.2s;-o-animation:fadeIn 3.2s ease-in-out both 1.2s;}
.current .c_E_p07{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 1.4s;animation:fadeIn 3.2s ease-in-out both 1.4s;-moz-animation:fadeIn 3.2s ease-in-out both 1.4s;-o-animation:fadeIn 3.2s ease-in-out both 1.4s;}
.current .c_E_p08{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 1.6s;animation:fadeIn 3.2s ease-in-out both 1.6s;-moz-animation:fadeIn 3.2s ease-in-out both 1.6s;-o-animation:fadeIn 3.2s ease-in-out both 1.6s;}
.current .c_E_p09{opacity:1;-webkit-animation:fadeIn 3.2s ease-in-out both 1.8s;animation:fadeIn 3.2s ease-in-out both 1.8s;-moz-animation:fadeIn 3.2s ease-in-out both 1.8s;-o-animation:fadeIn 3.2s ease-in-out both 1.8s;}





.c_F_p03_f{position:absolute;left:-10px;top:170px;opacity:1; display:none;}
.c_F_p04_f{position:absolute;left:167px;top:170px;opacity:1;display:none;}
.c_F_p05_f{position:absolute;left:330px;top:170px;opacity:1;display:none;}
.c_F_p06_f{position:absolute;left:465px;top:170px;opacity:1;display:none;}
.c_F_p07_f{position:absolute;left:566px;top:170px;opacity:1;display:none;}
.c_F_p08_f{position:absolute;left:701px;top:170px;opacity:1;display:none;}
.c_F_p09_f{position:absolute;left:852px;top:170px;opacity:1;display:none;}






.copyfoot{bottom:10px;width:100%;z-index:100}

@-webkit-keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}
@keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}
@-moz-keyframes fadeIn{0%{opacity:0;}100%{opacity:1;;}}
@-o-keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}







@-webkit-keyframes xiangxia{0%{opacity:0;-webkit-transform: translateY(-20px); transform: translateY(-20px);}50%{opacity:1;}100%{opacity:0;-webkit-transform: translateY(20px); transform: translateY(20px);}}
@keyframes xiangxia{0%{opacity:0;-webkit-transform: translateY(-20px); transform: translateY(-20px);}50%{opacity:1;}100%{opacity:0;-webkit-transform: translateY(20px); transform: translateY(20px);}}
@-moz-keyframes xiangxia{0%{opacity:0;-webkit-transform: translateY(-20px); transform: translateY(-20px);}50%{opacity:1;}100%{opacity:0;-webkit-transform: translateY(20px); transform: translateY(20px);}}
@-o-keyframes xiangxia{0%{opacity:0;-webkit-transform: translateY(-20px); transform: translateY(-20px);}50%{opacity:1;}100%{opacity:0;-webkit-transform: translateY(20px); transform: translateY(20px);}}



@-webkit-keyframes gg{0%{opacity:0;-webkit-transform:scale(1);}50%{opacity:1;-webkit-transform:scale(1.2);}100% {opacity:0;-webkit-transform:scale(1);}}
@keyframes gg{0%{opacity:0;transform:scale(1);}50%{opacity:1;transform:scale(1.2);}100% {opacity:0;transform:scale(1);}}
@-moz-keyframes gg{0%{opacity:0;-moz-transform:scale(1);}50%{opacity:1;-moz-transform:scale(1.2);}100% {opacity:0;-moz-transform:scale(1);}}
@-o-keyframes gg{0%{opacity:0;-o-transform:scale(1);}50%{opacity:1;-o-transform:scale(1.2);}100% {opacity:0;-o-transform:scale(1);}}

/*  |xGv00|b8cf24b30fb37c1773097dcf7590721c */