/* BY wangguiqing   2014-11-8  */
a:link,a:visited,a:active{color:#333; text-decoration:none;}
a:hover{ text-decoration:underline;color:#9D2958;}
a,area{blr:expression(this.onFocus=this.blur())};
/*文字排版*/
.f12{font-size:12px;}.f14{font-size:14px;}.f16{font-size:16px;}.f18{font-size:18px;}.f22{font-size:22px;}.f20{font-size:20px;}.f24{font-size:24px;}.f28{font-size:28px;}.f30{font-size:30px;}.f36{font-size:36px;}.f46{font-size:46px;}.f48{font-size:48px;}
.fb{font-weight:bold;}.fn{font-weight:normal;}
.t2{text-indent:2em;}
.tc{ text-align:center;}.tr{text-align:right;}
.unl,a.unl,body a.unl,body *.unl,body a.unl:link,body a.unl:visited{text-decoration:underline;}
.no_unl{text-decoration:none;}
.vm{vertical-align:middle;}
.yahei{font-family:Microsoft YaHei;}
.Arial{font-family:Arial}
.italic{ font-style:italic;}
.mr10{ margin-right:10px;}.mt6{margin-top:6px;}.mb10{margin-bottom:10px;}.mb5{ margin-bottom:5px;}.mb15{ margin-bottom:15px;}.mb20{ margin-bottom:20px;}.ml5{ margin-left:5px;}.ml10{ margin-left:10px;}.ml15{ margin-left:15px;}.mr15{ margin-right:15px;}.mt5{ margin-top:5px;}.mr5{ margin-right:5px;}.mt30{ margin-top:30px;}.mt60{ margin-top:60px;}.mt20{ margin-top:20px;}
.p5{ padding:5px;}.p12{ padding:12px;}.p10{ padding:10px;}.p20{ padding:20px;}.p30{ padding:30px;}.pl10{ padding-left:10px;}.pl30{ padding-left:30px;}.pr30{ padding-right:30px;}.pl20{ padding-left:20px;}.pb15{ padding-bottom:15px;}.pt15{ padding-top:15px;}.pt10{ padding-top:10px;}.pt60{ padding-top:60px;}.pt80{ padding-top:80px;}.pb10{ padding-bottom:10px;}.pb20{ padding-bottom:20px;}
.vm{vertical-align:middle;}
/*解决图片 文字标签 表单 垂直对齐问题*/
.vms{vertical-align:middle;display:inline-block;}
.ovh{ overflow:hidden;}
.pa{position:absolute;}.pr{ position:relative;}
.fl{float:left;display:inline;}.fr{float:right;display:inline;}
.lh25{ line-height:25px;}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}
.clearfix .clear{_height:0px;}
.block{display:block;}
.fOrg,.fOrg a,.fOrg a:link,.fOrg a:visited{color:#c2012e; text-decoration:none;}
.fOrg a:hover{color:#c2012e; text-decoration:underline;}
.white,.white a,.white a:link,.white a:visited{color:#fff; text-decoration:none;}
.white a:hover{color:#9D2958; text-decoration:underline;}
.fGary{ color:#CCCCCC;}
.w970{ width:970px; margin:0px auto;}
.w1040{ width:1040px; margin:0px auto;}
.ImgStyle{overflow:hidden; line-height:0px; font-size:0px; display:block;}

input{border:1px solid #CCCCCC; font-size:12px;}
div,img,ul,li,dl,dd,form,p,h1,h2,h3,h4,h5,h6,h7,hr,span{margin:0;padding:0;border:0;}
ul,li,dl,dd{list-style-type:none;list-style-image: none;}
ol{}
ol li{list-style-type: decimal;}
ul,li{list-style-type:none;list-style-image: none;}
html{}
body{margin:0px; padding:0px; width:100%; margin:0px auto;font-size:12px; position:relative;}
.w1000{width:1000px; margin-left:auto; margin-right:auto;}
.blue{ color:#156054;}
.white{ color:#FFFFFF;}
.Purple{ color:#9d2958;}
.none{display:none;}
.pb30{ padding-bottom:30px;}


.bg_black{ background:#000;}
.bg_white{ background:#ffffff;}
.bg_efefef{ background:#efefef;}

.bodyWrap{height:650px; position:relative;background:#000000;}
.act_left{width:1px; height:650px; position: relative;float:left;z-index:11;}
.Left_logo{ position:absolute; left:12px; top:15px;}
.act_left .Left_Share{position:absolute; left:35px;top:138px;width:200px;}
.act_left .Left_Tips{position:absolute; left:40px; top:180px; width:69px;height:400px;}
.act_left .Left_Tips li{height:71px;width:71px; display:block;line-height:71px; overflow:hidden; margin-bottom:7px;}
.act_left .Left_Tips li a,.act_left .Left_Tips li a:link,.act_left .Left_Tips li a:visited{display:block;font-size:18px;background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/bg_menu.png) no-repeat 1px 1px; text-decoration:none; height:71px; overflow:hidden; line-height:71px;width:71px;text-align:center; color:#ffd877;}
.act_left .Left_Tips li a:hover,.act_left .Left_Tips li a.cur{color:#666666; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/bg_Amenu.png) no-repeat 0px 0px; text-decoration:none;}


.act_right{margin-left:0px; overflow:hidden; position: relative;background:#000}
.act_right .RightUl li{ height:650px; float:left;}

.Page01,.Page02,.Page03,.Page04,.Page05,.Page06,.Page07,.Page08,.Page09,.Page10,.Page11{}
.Page01{background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/A_P01.jpg) no-repeat left 0px;}
.Page02{background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/A_P02.jpg) no-repeat left 0px;}
.Page03{background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/A_P03.jpg) no-repeat left 0px;}
.Page04{background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/A_P04.jpg) no-repeat left 0px;}
.Page05{background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/A_P05.jpg) no-repeat left 0px;}
.Page06{background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/A_P06.jpg) no-repeat left 0px;}
.Page07{background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/A_P07.jpg) no-repeat left 0px;}
.Page08{background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/A_P08.jpg) no-repeat left 0px;}
.Page09{background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/A_P09.jpg) no-repeat left 0px;}
.Page10{background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/A_P10.jpg) no-repeat left 0px;}
.Page11{background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/A_P11.jpg) no-repeat left 0px;}

.PageTitle01{position:absolute; left:877px; top:75px; z-index:122;cursor:pointer;}
.cur .PageTitle01{
 -webkit-animation:PageTitle01 2s alternate  ease-in-out;
 animation:PageTitle01 2s alternate  ease-in-out;
}
@-webkit-keyframes PageTitle01 {0%{opacity:0;-webkit-transform:scale(0);}100% {opacity:1;-webkit-transform:scale(1);}}
@keyframes PageTitle01 {0% {opacity:0;-webkit-transform:scale(0);}100% {opacity:1;-webkit-transform:scale(1);}}
.PageT1{position:absolute;left:873px; top:55px;overflow:hidden;opacity:0;}
.cur .PageT1{
 -webkit-animation:breathe .6s alternate infinite ease-in-out 2.5s;
 animation:breathe .6s alternate infinite ease-in-out 2.5s;
}
@-webkit-keyframes breathe {0% {opacity:.4;-webkit-transform:scale(.98);}100% {opacity:1;-webkit-transform:scale(1.01);}}
@keyframes breathe {0% {opacity:.4;transform:scale(.98);}100% {opacity:1;transform:scale(1.01);}}


.PageTitle02{ position:absolute; left:651px; top:54px;}
.PageT2{position:absolute;left:336px; top:175px;opacity:0;}
.cur .PageT2{
 -webkit-animation:PageT2 2s both ease-in;
 animation:PageT2 2s both ease-in;
}
@-webkit-keyframes PageT2 {0% {opacity:0;}100% {opacity:1;}}
@keyframes PageT2 {0% {opacity:0;}100% {opacity:1;}}
.Pic1{position:absolute;left:834px; top:411px;}

.s_P02{ position:absolute; left:637px; top:0px;}
.cur .s_P02{
 -webkit-animation:s_P02 2s alternate  ease-in-out;
 animation:s_P02 2s alternate  ease-in-out;
}
@-webkit-keyframes s_P02 {0%{opacity:0;}100% {opacity:1;}}
@keyframes s_P02 {0% {opacity:0;}100% {opacity:1;}}


.PageTitle03{ position:absolute; left:619px; top:6px;}
.Pic2{ position:absolute; left:763px; top:390px;}
.s_P03{ position:absolute; left:602px; top:0px;}
.cur .s_P03{
 -webkit-animation:s_P03 2s alternate  ease-in-out;
 animation:s_P03 2s alternate  ease-in-out;
}
@-webkit-keyframes s_P03 {0%{opacity:0;}100% {opacity:1;}}
@keyframes s_P03 {0% {opacity:0;}100% {opacity:1;}}



.PageTitle04{ position:absolute; left:497px; top:71px;}
.PageT4{position:absolute;left:874px; top:233px;opacity:0;}
.cur .PageT4{
 -webkit-animation:PageT2 2s both ease-in;
 animation:PageT2 2s both ease-in;
}
@-webkit-keyframes PageT2 {0% {opacity:0;}100% {opacity:1;}}
@keyframes PageT2 {0% {opacity:0;}100% {opacity:1;}}
.Pic3{position:absolute;left:528px; top:379px;}

.s_P04{ position:absolute; left:493px; top:0px;}
.cur .s_P04{
 -webkit-animation:s_P02 2s alternate  ease-in-out;
 animation:s_P02 2s alternate  ease-in-out;
}
@-webkit-keyframes s_P02 {0%{opacity:0;}100% {opacity:1;}}
@keyframes s_P02 {0% {opacity:0;}100% {opacity:1;}}


.PageTitle05{ position:absolute; left:571px; top:26px;}
.PageT5{position:absolute;left:873px; top:71px;opacity:0;}
.cur .PageT5{
 -webkit-animation:PageT2 2s both ease-in;
 animation:PageT2 2s both ease-in;
}
@-webkit-keyframes PageT2 {0% {opacity:0;}100% {opacity:1;}}
@keyframes PageT2 {0% {opacity:0;}100% {opacity:1;}}
.Pic4{position:absolute;left:649px; top:397px;}

.s_P05{ position:absolute; left:569px; top:0px;}
.cur .s_P05{
 -webkit-animation:s_P02 2s alternate  ease-in-out;
 animation:s_P02 2s alternate  ease-in-out;
}
@-webkit-keyframes s_P02 {0%{opacity:0;}100% {opacity:1;}}
@keyframes s_P02 {0% {opacity:0;}100% {opacity:1;}}


.PageTitle06{position:absolute; left:471px; top:21px;}
.Pic6a{position:absolute;left:468px; top:218px;}
.Pic6b{position:absolute;left:502px; top:303px;}
.Pic6c{position:absolute;left:449px; top:387px;}
.Pic6d{position:absolute;left:468px; top:447px;}
.Pic6e{position:absolute;left:502px; top:557px;}
.S_P06{position:absolute;left:412px; top:190px;}
.PageT6{position:absolute; left:0px; top:0px;}
.Pic6_B{position:absolute;left:1142px;top:0px;}
.Pic6_Ba{position:absolute;left:1118px;top:410px;opacity:0;}
.cur .Pic6_Ba{
 -webkit-animation:Pic6_Ba 2s both  ease-in-out 1.5s;-webkit-transform-origin:center top;
 animation:Pic6_Ba 2s both ease-in-out 1.5s;transform-origin:center top;
}
@-webkit-keyframes Pic6_Ba {
	0%{opacity:0;-webkit-transform:translateY(0px) scale(0);}
	80%{opacity:1;-webkit-transform:translateY(2px) scale(1);}
	100%{opacity:1;-webkit-transform:translateY(4px) scale(1);}
}
@keyframes Pic6_Ba{
	0%{opacity:0;transform:translateY(0px) scale(0);}
	80%{opacity:1;transform:translateY(2px) scale(1);}
	100%{opacity:1;transform:translateY(4px) scale(1);}
}


.PageTitle07{position:absolute; left:797px; top:22px;}
.Pic7_p1{position:absolute; left:1170px; top:200px; z-index:111}
.PageT7{position:absolute;left:84px; top:740px;}
a.pic7_01{position:absolute; left:177px; top:221px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/Pro01.png) no-repeat 0px 0px; width:121px; height:81px;z-index:100}
.curS a.pic7_01{position:absolute; left:177px; top:221px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/Pro01.png) no-repeat -121px 0px; width:121px; height:81px;z-index:100}
a.pic7_02{position:absolute; left:238px; top:407px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/Pro02.png) no-repeat 0px 0px; width:149px; height:85px;z-index:100}
.curS a.pic7_02{position:absolute; left:238px; top:407px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/Pro02.png) no-repeat -149px 0px; width:149px; height:85px;z-index:100}
a.pic7_03{position:absolute; left:598px; top:36px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/Pro03.png) no-repeat 0px 0px; width:165px; height:86px;z-index:100}
.curS a.pic7_03{position:absolute; left:598px; top:36px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/Pro03.png) no-repeat -165px 0px; width:165px; height:86px;z-index:100}
a.pic7_04{position:absolute; left:525px; top:193px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/Pro04.png) no-repeat 0px 0px; width:191px; height:88px;z-index:100}
.curS a.pic7_04{position:absolute; left:525px; top:193px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/Pro04.png) no-repeat -191px 0px; width:191px; height:88px;z-index:100}
a.pic7_05{position:absolute; left:551px; top:378px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/Pro05.png) no-repeat 0px 0px; width:174px; height:74px;z-index:100}
.curS a.pic7_05{position:absolute; left:551px; top:378px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/Pro05.png) no-repeat -174px 0px; width:174px; height:74px;z-index:100}
.pic7_C .divBox{position:absolute;left:788px; top:208px;}




.PageTitle08{position:absolute; left:601px; top:37px;}
.page_S08{position:absolute; left:116px; top:489px;}
.btn_look{opacity:0; position:absolute;left:1149px;top:197px; cursor:pointer;}
.btn_look{animation: fadeIn 2s ease-in infinite 3s;-webkit-animation: fadeIn 2s ease-in infinite 3s;visibility: visible !important;}
@keyframes fadeIn {0% {transform: scale(0.9);opacity: 0.8;}50% {transform: scale(1);opacity: 1; }100% {transform: scale(0.9);opacity: 0.8;}}
@-webkit-keyframes fadeIn {0% {-webkit-transform: scale(0.9);opacity: 0.8;}50% {-webkit-transform: scale(1);opacity: 1; }100% {-webkit-transform: scale(0.9);opacity: 0.8;}}
.Pic8_p1{position:absolute; left:555px; top:137px; cursor:pointer;}
.cur .Pic8_p1{
  -webkit-animation:Pic8_p1 2s alternate ease-in-out;
  animation:Pic8_p1 2s alternate ease-in-out;
}
@-webkit-keyframes Pic8_p1 {0%{opacity:0;-webkit-transform:scale(0);}100% {opacity:1;-webkit-transform:scale(1);}}
@keyframes Pic8_p1 {0% {opacity:0;-webkit-transform:scale(0);}100% {opacity:1;-webkit-transform:scale(1);}}
.s_P08{ position:absolute; left:485px; top:0px;}
.cur .s_P08{
 -webkit-animation:s_P08 2s alternate  ease-in-out;
 animation:s_P08 2s alternate  ease-in-out;
}
@-webkit-keyframes s_P08 {0%{opacity:0;}100% {opacity:1;}}
@keyframes s_P08 {0% {opacity:0;}100% {opacity:1;}}


.PageTitle09{position:absolute; left:544px; top:55px;}
.pa9_C{position:absolute; left:562px; top:176px;}
.pas_01{position:absolute;left:442px; top:238px;}
.pas_02{position:absolute;left:576px; top:439px;}
.pas_03{position:absolute;left:884px; top:408px;}
.pas_04{position:absolute;left:1111px; top:206px;}
.s_P09{ position:absolute; left:485px; top:0px;}
.cur .s_P09{
 -webkit-animation:s_P08 2s alternate  ease-in-out;
 animation:s_P08 2s alternate  ease-in-out;
}
@-webkit-keyframes s_P08 {0%{opacity:0;}100% {opacity:1;}}
@keyframes s_P08 {0% {opacity:0;}100% {opacity:1;}}

a.pa9_01{position:absolute;left:442px; top:200px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/Pa01.png) no-repeat 0px 0px; width:162px; height:442px;}
.curS a.pa9_01{position:absolute; left:442px; top:200px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/Pa01.png) no-repeat right 0px; width:162px; height:442px;}
a.pa9_02{position:absolute; left:576px; top:439px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/Pa02.png) no-repeat 0px 0px; width:333px; height:211px;}
.curS a.pa9_02{position:absolute; left:576px; top:439px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/Pa02.png) no-repeat right 0px; width:333px; height:211px;}
a.pa9_03{position:absolute;  left:884px; top:378px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/Pa03.png) no-repeat 0px 0px; width:262px; height:253px;}
.curS a.pa9_03{position:absolute;  left:884px; top:378px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/Pa03.png) no-repeat right 0px;  width:262px; height:253px;}
a.pa9_04{position:absolute; left:1111px; top:206px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/Pa04.png) no-repeat 0px 0px; width:220px; height:430px;}
.curS a.pa9_04{position:absolute; left:1111px; top:206px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/Pa04.png) no-repeat right 0px; width:220px; height:430px;}

.ProB{background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/bg_p8_C.png) no-repeat; width:457px; height:137px; padding:20px 20px 20px 20px;}
.ProB h2{color:#f2cb81; font-size:12px; line-height:30px;}
.ProB h2 code{font-size:36px; line-height:30px; font-family:Arial; color:#f2cb81; display:inline-block;}
.ProB h2 strong{ font-size:18px; font-weight:bold; display:inline-block;position:relative;}
.ProB p{ font-size:14px; line-height:24px; color:#fff;}
.ProB p a{ padding-left:10px;color:#fff; text-decoration:underline;}

.NBox .option{margin:0px;width:83px;height:139px; top:15px; left:520px;}
.NBox .digg{text-align:center;font-size:12px;color:#ccc; float:left;line-height:20px;text-indent:-3333px; margin:0px 0px 0px 0px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/btn_voteCur.png) no-repeat 0px 0px; width:83px; height:100px;}
.NBox .digg a{color:#555;text-decoration:none;background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/btn_vote.png) no-repeat 0px 0px; width:83px; height:100px; display:block; text-indent:-3333px;}
.NBox .digg a:hover{text-decoration:none;width:83px; height:100px; display:block;}
.NBox .count{text-align:center;font-family:"Verdana";font-size:16px; float:left;color:#fff;width:83px; height:16px; line-height:16px; margin:0px 0px 0px 0px; padding-bottom:16px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/bg_VoteNum.png) no-repeat 0px 0px;}



#btn_Next{width:96px; height:148px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/btn_Next.png) no-repeat;position:absolute;right:0px;top:70%;z-index:990;}
#btn_Return{width:75px; height:77px; background:url(http://mat1.gtimg.com/fashion/xujinzhi/beautystar/KatieHolmes/btn_Return.png) no-repeat;position:absolute;right:65px;top:80%;z-index:991;}


.PageTitle10{position:absolute; left:422px; top:18px;}
.page_S10{position:absolute;left:230px; top:314px;}
.PageT10{position:absolute;left:1018px; top:88px;}


.PageTitle11{position:absolute;left:433px;top:48px;}
.Pic11_p1{position:absolute;left:212px;top:152px;}
.Pic11_p2{position:absolute;left:885px;top:385px;}
.Pic11_p3{position:absolute;left:262px;top:562px;}
.P_weibo{width:540px; height:140px; border:10px solid #e5e5e5; background:#ffffff;position:absolute; left:216px; top:395px;}

.act_right{position:absolute;left:0px;margin:0;}
.slider-pages{overflow:hidden;width:100%;height:650px;}
.slider-page-con{position:relative;overflow:hidden;float:left;width:100%;height:650px;}
.slider-pages-help{width:99999px;}

.baobao-bg{position:absolute;top:0;left:0;width:100%;height:650px;}
.nobg{background:none;}


.cur .s_w{position:absolute;}
.s_w1{-webkit-animation:s_w 1s infinite both ease-in .7s;animation:s_w 1s infinite both ease-in .7s;}
.s_w2{-webkit-animation:s_w 1s infinite both ease-in 1s;animation:s_w 1s infinite both ease-in 1s;}
.s_w3{-webkit-animation:s_w .8s infinite both ease-in .4s;animation:s_w .8s infinite both ease-in .4s;}
.s_w4{-webkit-animation:s_w .8s infinite both ease-in .8s;animation:s_w .8s infinite both ease-in .8s;}
@keyframes s_w{0% {transform: scale(0.9);opacity: 0.8;}50% {transform: scale(1.2);opacity: 1; }100% {transform: scale(0.9);opacity: 0.8;}}
@-webkit-keyframes s_w{0% {-webkit-transform: scale(0.9);opacity: 0.8;}50% {-webkit-transform: scale(1.2);opacity: 1; }100% {-webkit-transform: scale(0.9);opacity: 0.8;}}
/*  |xGv00|15deb3ff642cf6092aee7fa0af6b5e6b */